<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
</head>

<body>

    <div class="box1">
        <h1>
            سینداد
            -
            ورود
        </h1>
        <p>
            برای ورود نیاز است فرم زیر را تکمیل نمایید
        </p>
        <form action="signin" method="post">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="text" name="password" id="password" placeholder="Password">
            <input type="submit" value="ارسال">
        </form>
    </div>

</body>

</html>