<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
</head>

<body>

    <div class="box1">
        <h1>
            سینداد
            -
            ثبت نام
        </h1>
        <p>
            برای ثبت نام نیاز است فرم زیر را تکمیل نمایید
        </p>
        <form action="signup" method="post">
            <input type="text" name="fname" id="fanme" placeholder="نام">
            <input type="text" name="lname" id="lanme" placeholder="نام خانوادگی">
            <input type="email" name="email" id="email" placeholder="E-mail">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="text" name="pass" id="pass" placeholder="Password">
            <input type="text" name="re_pass" id="re_pass" placeholder="Password">
            <input type="submit" value="ارسال">
        </form>
    </div>

</body>

</html>